.NavBar {
    display: flex;
    position: sticky;
    top: 0;
    background-color: rgba(0, 225, 255, 0.514);
    font-size: 3rem;
}
.a-nav {
    text-decoration: none;
    font-size: 2rem;
    color: rgb(255, 115, 0)
    

}