body{
    /* background-color: rgb(199, 199, 199); */
    height: 100vh;
    background-color: gray;
    margin: 0;
}

.NavBar {
 /* background-color: rgb(255, 208, 0); */
 mask-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #ffffff 25%, #ffffff 75%, rgba(255, 255, 255, 0) 100%);
}

.nav-box-content{
    display: flex;
    position: sticky;
    /* margin: 0.5rem; */
    justify-content: space-between;
    top: 0;
    padding: 0 1rem 0 1rem;
    text-align: center;
    align-items: center;
    align-content: center;
    background-color: rgba(70, 128, 136, 0.514);
    /* opacity: 0.5; */
    font-size: 3rem;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 25%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0) 100%);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
}

.nav-box1 {
    display: flex;
    text-align: center;
    align-items: center;
    align-content: center;
}

.nav-box2 {
    display: flex;
    text-align: center;
    align-items: center;
    align-content: center;
}

.a-nav {
    text-decoration: none;
    font-size: 2rem;
    color: rgb(255, 81, 0);
    margin: 0.5rem;
}

.ip-nav{
    border: none;
    font-size: 1.2rem;
    border-radius: 0.5rem;
    text-justify: center;
    margin: 0.1rem;
    padding:0,1rem;
    text-align: left;
}

.btn {
    border: none;
    text-decoration: none;
    border-radius: 0.2rem;
    background-color: rgb(255, 94, 0);
    text-align: center;
    text-justify: center;
    padding: 0.25rem;
    margin: 0.5rem;
    color: rgb(255, 255, 255);
    font-size: 1.2rem;
}

#content {
    margin: 1rem;
}

.footer{
    /* background-color: rgb(255, 208, 0); */
    mask-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #ffffff 25%, #ffffff 75%, rgba(255, 255, 255, 0) 100%);
}


.footer-box-content{
    display: flex;
    position: sticky;
    justify-content: space-between;
    bottom: 0;
    padding: 0 1rem 0 0;
    background-color: rgba(70, 128, 136, 0.514);
    /* opacity: 0.5; */
    font-size: 1rem;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 25%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0) 100%);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
}