{% extends 'index.html' %} 
{%block title%} Single Post {% endblock%}
{% block content %}
<h1 style="text-align:center"> Single Post</h1>
    <h3>{{current_user.username}}</h3>

    <li>{{post.title}} || {{post.body}} || {{post.users.username}} || {{post.created}} || {{post.updated}} 
        <button type='button' onclick = "window.location.href=`{{url_for('editpost', id = post.id)}}`">Edit Post</button>
    </li>

    {% for comment in comments%}
    <li> KHOA || {{comment.body}} || {{comment.users.username}} || {{comment.created}} || {{comment.updated}}
        <button type='button' onclick = "window.location.href=`{{url_for('editcomment', id = post.id)}}`">Edit Comment</button>

    </li>
    {%endfor%}
    <button type='button' onclick = "window.location.href=`{{url_for('new_comment', id = post.id)}}`">Comment</button>

  
{% endblock %}
